body {
  margin: auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
li {
  list-style: none;
}
nav {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
  text-decoration: none;
  background-color: #EEEEEE;
}
a {
  text-decoration: none;
}
.main-navigation a {
  color: #000000;
  background-color: #EEEEEE;
}
.main-navigation a:hover {
  color: #fb565a;
  background-color: #EEEEEE;
}
.main-navigation a:focus {
  text-decoration: underline;
  color: #000000;
  text-decoration-color: #fb565a;
}
.main-navigation a:active{
  color: #000000;
  opacity: 0.3;
}
.logo-header:hover {
  opacity: 0.8;
}
.logo-header:active {
  opacity: 0.3;
}
.site-navigation {
  list-style: none;
  padding-left: 2px;
}
.slide a {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #FB565A;
  border: none;
}
.slide a:hover {
  color: #ffffff;
  background-color: #E74246;
}
.slide a:active {
  color: #ffffff;
  background-color: #D7373B;
  opacity: 0.3;
}
.type-of-work a {
  display: inline-block;
  padding: 17px;
  padding-bottom: 17px;
}
.type-of-work a,
.type-of-work li:first-child a {
  color: #ffffff;
  background-color: #FB565A;
}
.type-of-work a,
.type-of-work li:first-child a:hover {
  color: #ffffff;
  background-color: #E74246;
}
.type-of-work a,
.type-of-work li:first-child a:active {
  color: #ffffff;
  background-color: #D7373B;
}
.type-of-work a,
.type-of-work li:nth-child(2) a {
  color: #ffffff;
  background-color: #00CA74;
}
.type-of-work a,
.type-of-work li:nth-child(2) a:hover {
  color: #ffffff;
  background-color: #00BC6C;
}
.type-of-work a,
.type-of-work li:nth-child(2) a:active {
  color: #ffffff;
  background-color: #00AA62;
}
.type-of-work a,
.type-of-work li:last-child a {
  color: #ffffff;
  background-color: #EFC84A;
}
.type-of-work a,
.type-of-work li:last-child a:hover {
  color: #ffffff;
  background-color: #EAB534;
}
.type-of-work a,
.type-of-work li:last-child a:active {
  color: #ffffff;
  background-color: #E5A722;
}
.type-of-work a:active{
  opacity: 0.3;
}
.social-button a {
  color: #D7373B;
  background-color: #000000;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.work-list h3 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: 20px;
}
.work-item p {
  font-size: 24px;
  color: #283136;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 30px
}
.work-item p:nth-child(3) {
  text-transform: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
.about-us p:first-child {
  text-transform: none;
  font-size: 45px;
  letter-spacing: 0;
  line-height: 45px;
}
.no-creative {
  text-transform: none;
  font-size: 16px;
  color: #283136;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 31px;
  margin-bottom: 19px;
}
.sales span:first-child {
  text-transform: none;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 9px;
  display: block;
}
.sales span:last-child {
  text-transform: none;
  font-size: 16px;
  color: #444444;
  letter-spacing: 0;
  line-height: 22px;
}
h1 {
  text-transform: none;
  font-size: 55px;
  letter-spacing: 0;
  text-align: center;
  line-height: 55px;
  margin: auto;
}
.filter-option {
  text-transform: none;
  font-size: 16px;
  color: #283136;
  letter-spacing: 0;
  line-height: 19px;
}
.show-filter {
  color: #000000;
  background: #EEEEEE;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.show-filter:hover {
  background: #DFDFDF;
}
.show-filter:active {
  background: #D5D5D5;
  opacity: 0.3;
}
.button {
  display: block;
  color: #ffffff;
  background: #FB565A;
  width: 200px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 3%;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 43px;
}
.button:hover {
  background: #E74246;
}
.button:active {
  background: #D7373B;
}
.product-info span {
  text-transform: none;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
/* сетка */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0 auto;
  width: 1160px;
  justify-content: space-between;
  background-color: #EEEEEE;

}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0;
}
.site-navigation a {
  padding-bottom: 7px;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #EEEEEE;
  margin: auto;
  margin-bottom: 78px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-navigation {
  width: 440px;
  background-color: #EEEEEE;
  padding: 0;
  margin: 0;
  padding-top: 75px;
}
.user-navigation {
  width: 120px;
  background-color: #EEEEEE;
  padding: 0 auto;
  margin: 0;
  padding-top: 75px;
}
.user-navigation a {
  padding-left: 25px;
}
.user-navigation img {
  padding-left: 5px;
}
.header-logo {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}
.work-list {
  display: flex;
  width: 1100px;
  justify-content: space-between; 
  margin: 0;
  padding: 0; 
  margin: auto;
  padding-bottom: 80px;
  border-bottom: 3px solid #EEEEEE;
  margin-bottom: 42px;
}
.work-item {
  width: 300px;
}
.work-item a {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.type-work-column {
  display: flex;
  margin-top: 30px;
  width: 1160px;
  align-content: space-between;
}
.footer {
  width: 100%;
}
.social-links {
  width: 260px;
  margin-top: 6px;
}
.sales {
  width: 560px;
  padding-right: 200px;
}
.filter {
  width: 260px;
  padding: 0;
  margin: 0;
  margin-top: 234px;
}
.catalog-column {
  display: flex;
  width: 1160px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; 
  width: 760px;
  margin: 0;
  margin-top: 44px;
  margin-left: 140px;
}
.catalog-item {
  width: 360px;
  padding: 0;
  margin: 0;
  position: relative;
}
.catalog {
  width: 1160px;
  margin: auto;
  margin-bottom: 68px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding-left: 0;
}
.social-button {
  display: flex;
  background-color: #E1E1E1;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;  
  margin: auto; 
}
.social-button:hover {
  background-color: #E74246;
}
.social-button:active {
  background-color: #D7373B;
  opacity: 0.3;
}
h1 {
  background-color: #EEEEEE;
  margin: 0;
  padding-top: 64px;
  padding-bottom: 110px;
  margin-bottom: 55px;
  width: 760px;
  font-weight: 600;
  margin: auto;
}
.catalog-item svg {
 display: block;
}
.filter-option {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
}
.filter-list {
  padding-inline-start: 0;
  padding-bottom: 17px;
  margin: 0;
  padding-right: 5px;
}
.filter-list:first-child {
  padding-top: 5px;
}
.filter-group {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}
.filter-group legend {
  font-weight: 700; 
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
}
.filter-option li {
vertical-align: middle;
}
.footer-container {
  display: flex;
  justify-content: space-between; 
  width: 1160px;
  padding: 0;
  margin: auto;
}
.write-us {
  text-transform: none;
  position: absolute;
  top: 57%;
  left: 50%;
  z-index: 2;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  margin-left: -480px;
  margin-top: 1300px;
  background-color: #ffffff;
  width: 760px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 20px 40px 0 rgba(0,1,1,0.75);
}
.modal-title {
  width: 700px;
  font-size: 45px;
  color: #000000;
  letter-spacing: 0;
  line-height: 45px;
  margin-top: 70px;
}
.form-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}
#name-form,
#email-form {
  width: 354px;
  background: #FFFFFF;
  border: 2px solid #D7DCDE;
  padding-bottom: 15px;
  padding-top: 19px;
  margin-bottom: 30px;
  padding-left: 10px;
}
#name-form:hover,
#email-form:hover,
#text-form:hover {
  border: 2px solid #B4B9BB;
}
#name-form:focus,
#email-form:focus,
#text-form:focus {
  border: 2px solid #000000;
}
#text-form {
  width: 754px;
  resize: none;
  border: 2px solid #D7DCDE;
  text-align: text-top;
  padding-bottom: 85px;
  margin-bottom: 50px;
  padding-top: 19px;
  padding-left: 10px;
}
.modal-close {
  margin-top: 75px;
  width: 21px;
  height: 21px;
  border: 0;
  opacity: 0.3;
}
.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.1;
}
.button-submit {
  display: block;
  color: #ffffff;
  background: #FB565A;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3%;
  text-align: center;
  margin-bottom: 85px;
}
.about-us {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: auto;
}
.info-about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 660px;
}
.info-about {
  width: 400px;
}
.slogan {
  width: 660px;
  margin-top: 33px;
  margin-bottom: 0;
}
.order {
  width: 660px;
  margin-top: 21px;
  margin-bottom: 8px;
}
.about-us img {
  width: 360px;
  margin-left: 40px;
}
.how-long-we-work {
  width: 360px;
  font-weight: 700;
  margin-top: 29px;
  margin-left: 55px;
}
.advantages-list {
  width: 660px;
  text-transform: none;
  padding: 0;
  vertical-align: middle;
  margin-bottom: 14px;
}
.advantages-list li {
  margin-bottom: 25px;
}
.advantages-list li:last-child {
  margin-bottom: 60px;
}
.advantages-list li:before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #FB565A;
  vertical-align: middle;
  margin-right: 9px;
}
.info-about-us table {
  width: 360px;
  order: 8;
}
.info-table {
  margin-left: 40px;
  margin-top: 50px;
}
.info-table tr:first-child {
  font-size: 45px;
  letter-spacing: 0;
  line-height: 10.06px;
  font-weight: 700;
} 
.info-table tr:last-child {
font-size: 16px;
color: #283136;
letter-spacing: 0;
line-height: 18px;
}
.info-table td {
  padding-top: 5px;
  padding-bottom: 33px;
  padding-right: 23px;
  text-transform: none;
  position: relative;
}
.partners {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #EEEEEE;
  border-top: 3px solid #EEEEEE;
  margin-bottom: 80px;
}
.partners-logo {
  display: inline-flex;
  width: 1160px;
  padding: 0;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  opacity: 0.2;
  padding-top: 45px;
  padding-bottom: 5px;
  margin: 0;
  margin-bottom: 14px;
}
.partners-logo li:first-child {
  margin-left: 30px;
  margin-top: 15px;
}
.partners-logo img {
  align-content: center;
  justify-content: space-between;
}
/* спрятал попап */
.write-us {
  display: none;
}
/*  */
.slider {
  width: 100%;
  padding: 0;
  margin: auto;

}
.slide:nth-child(1) {
  width: 420px;
}
.slide:nth-child(2) {
  display: none;
}
.slide:nth-child(3) {
  display: none;
}
.site-navigation a:not([href]) {
  border-bottom: 3px solid #FB565A;
}
.address p {
  position: absolute;
  left: 13%;
  margin-left: 5px;
  width: 219px;
  background-color: #ffffff;
  margin-top: 53px;
}
.address span {
  text-transform: none;
  width: 220px;
  text-align: center;
}
.address span:first-child {
  text-transform: uppercase;
}
iframe {
  width: 5000px;
  height: 413px;
  margin: auto;
  margin-bottom: 70px;
}
.slides {
  width: 1160px;
  margin: auto;
  background-image: url("img/slide1.png");
  background-size: 698px 413px;
  background-repeat: no-repeat;
  background-position: 430px;
  padding-bottom: 83px;
  padding-left: 0;
}
.more-info {
  display: block;
  width: 240px;
  padding-bottom: 13px;
  padding-top: 12px;
  border-radius: 3%;
}
.slide h3 {
  font-size: 55px;
  line-height: 55px;
  padding-top: 65px;
  padding-bottom: 26px;
  text-transform: none;
  font-weight: 500;
  margin: 0;
}
.slide p {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: none;
}
.address {
  height: 415px;
  margin-bottom: 61px;
}
.address a {
  display: block;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fb565a;
  border-radius: 3%;
  text-decoration: none;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
  margin-bottom: 48px;
  margin-left: 15px;
}
.address p {
  padding-top: 49px;
  padding-left: 36px;
  padding-right: 63px;
}
.address span {
  display: block;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.address span:first-child {
  font-size: 18px;
  line-height: 30px;
}
.address span:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: start;
}
.address span:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 35px;
  margin-left: 15px;
  text-align: start;
}
.decoration-filter {
  background-image: url("img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
  margin-left: 0;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 8px;
}
#slider-filter,
#advantage-filter,
#news-filter,
#gallery-filter,
#basket-filter,
#adaptive,
#fixed,
#rubber {
  display: none;
}
#slider-filter:checked + .decoration-filter {
  background-image: url("img/checkbox-on.png");
}
#advantage-filter:checked + .decoration-filter {
  background-image: url("img/checkbox-on.png");
}
#news-filter:checked + .decoration-filter {
  background-image: url("img/checkbox-on.png");
}
#basket-filter:checked + .decoration-filter {
  background-image: url("img/checkbox-on.png");
}
#gallery-filter:checked + .decoration-filter {
  background-image: url("img/checkbox-on.png");
}
.decoration-radio {
  background-image: url("img/radio-off.png");
  background-repeat: no-repeat;
  padding-left: 33px;
  margin-left: 0;
  line-height: 20px;
  font-size: 16px;
  padding-bottom: 8px;
  background-position: left;
}
#adaptive:checked + .decoration-radio {
  background-image: url("img/radio-on.png");
}
#fixed:checked + .decoration-radio {
  background-image: url("img/radio-on.png");
}
#rubber:checked + .decoration-radio {
  background-image: url("img/radio-on.png");
}
.product-info span {
  display: block;
  margin-bottom: 30px;
}
.product-info {
  background-color: #EEEEEE;
  display: none;
  margin: auto;
  position: absolute;
  top: 355px;
}
.item img {
  padding-bottom: 27px;
}
.catalog-item:hover .product-info {
  display: block;
}
.catalog-item:hover svg {
  fill: #4d4d4d;
}
.product-info h3 {
  text-align: center;
  padding-top: 30px;
}
.info-table sup {
  position: absolute;
  top: 3px;
  font-size: 30px;
}
.partners-logo li::after {
  display: inline-flex;
  align-items: center;
  content: "";
  background-color: #000000;
  width: 3px;
  height: 50px;
  margin-left: 45px;
}
.filter-option label {
  vertical-align: -webkit-baseline-middle;
}
.filter-group label {
  padding-left: 3px;
}
.inner {
  margin-bottom: 88px;
}
.inner-modal {
  top: 156%;
}